@page "/AgregarExpediente/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoExpedienteAlta CasoDeUsoExpedienteAlta
@inject CasoDeUsoConsultaExpediente CasoDeUsoConsultaExpediente
@inject CasoDeUsoExpedienteModificacion CasoDeUsoExpedienteModificacion

@if (!nuevoExpediente)
{
    <h3>Modificando al expediente id "@exp.Id"</h3>
}
else
{
    <h3>Agregando un nuevo expediente</h3>
}

<input placeholder="Caratula" @bind="exp.Caratula" class="form-control">
<select @bind="exp.Estado" class="form-select-sm">
    <option value="0">Recien Iniciado</option>
    <option value="1">Para Resolver</option>
    <option value="2">Con Resolucion</option>
    <option value="3">En Notificacion</option>
    <option value="4">Finalizado</option>
</select>

<p>Estado Seleccionado: @exp.Estado</p>

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    Expediente exp = new Expediente();
    [Parameter] public int? Id { get; set; }
    bool nuevoExpediente = true;

    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            Expediente expBuscar = CasoDeUsoConsultaExpediente.Ejecutar(Id.Value);
            if (exp != null)
            {
                exp = expBuscar;
                nuevoExpediente=false;
            }
        }
    }
    void Aceptar()
    {
        if(nuevoExpediente)
        {
            CasoDeUsoExpedienteAlta.Ejecutar(exp, 1);
        }
        else
        {
            CasoDeUsoExpedienteModificacion.Ejecutar(exp, 1);
        }
        
        Navegador.NavigateTo("listadoExpedientes");
    }
}
