@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject ServicioAutorizacion ServicioAutorizacion


<PageTitle>Pagina Principal</PageTitle>

@if (ServicioAutorizacion.UsuarioActual != null)
{
    <h1>Bienvenido @ServicioAutorizacion.UsuarioActual.Nombre</h1>
    <div class="misDatos">
        <h3>Mis Datos</h3>
        <div class="dato">
            <p>Correo: @ServicioAutorizacion.UsuarioActual.Correo</p>
        </div>
        <div class="dato">
            <p>Apellido: @ServicioAutorizacion.UsuarioActual.Apellido</p>
        </div>
        <div class="dato">
            <p>Nombre: @ServicioAutorizacion.UsuarioActual.Nombre</p>
        </div>
        <button @onclick="()=>ModificarUsuario(ServicioAutorizacion.UsuarioActual)">Modificar mis datos</button>
    </div>
} else
{
    <h1>Bienvenido, Registrate</h1>
    <RegisterUser></RegisterUser>

    <div class="menuLogin">
        <p>Si estas registrado logueate</p>
        <NavLink class="" href="Login">
            <p>Iniciar Sesion</p>
        </NavLink>
    </div>
}


@code {
    void ModificarUsuario(Usuario user)
    {
        Navegador.NavigateTo($"Register/{user.Id}");
    }
}