@page "/"
@inject NavigationManager Navegador
@rendermode InteractiveServer

<PageTitle>Pagina Principal</PageTitle>

@if (estoyLogeado)
{
    <h1>Usuario fulano</h1>
    <h3>mis datos</h3>
} else
{
    <h1>Bienvenido, logeate</h1>
    <RegisterUser></RegisterUser>
    <p>Si estas registrado logeate</p>
    <button class="btn btn-primary" @onclick="Aceptar">Iniciar Sesion</button>
}





@code {
    bool estoyLogeado = false;
    void Aceptar()
    {
        Navegador.NavigateTo("Login");
    }
}