@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject ServicioAutorizacion ServicioAutorizacion


<PageTitle>Pagina Principal</PageTitle>

@if (ServicioAutorizacion.UsuarioActual != null)
{
    <h1>Bienvenido @ServicioAutorizacion.UsuarioActual.Nombre</h1>
    <h3>Mis Datos</h3>
    <p>Correo: @ServicioAutorizacion.UsuarioActual.Correo</p>
    <p>Apellido: @ServicioAutorizacion.UsuarioActual.Apellido</p>
    <p>Modificar mis datos</p>
    <button @onclick="()=>ModificarUsuario(ServicioAutorizacion.UsuarioActual)">Ir</button>
} else
{
    <h1>Bienvenido, Registrate</h1>
    <RegisterUser></RegisterUser>

    <p>Si estas registrado logeate</p>
    <NavLink class="nav-link" href="Login">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logueate
    </NavLink>
}


@code {
    void ModificarUsuario(Usuario user)
    {
        Navegador.NavigateTo($"Register/{user.Id}");
    }
}