@page "/Usuarios"
@rendermode InteractiveServer
@inject CasoDeUsoListarUsuarios CasoDeUsoListarUsuarios
@inject CasoDeUsoUsuarioBaja CasoDeUsoUsuarioBaja

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Permisos</th>
            <th>Accion</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var cli in _lista)
        {
            <tr>
                <td>@cli.Nombre</td>
                <td>@cli.Apellido</td>
                <td>@cli.Correo</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(cli)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Usuario> _lista = new List<Usuario>();
    protected override void OnInitialized()
    {
        _lista = CasoDeUsoListarUsuarios.Ejecutar();
        
    }

    DialogoConfirmacion dialogo = null!;
    Usuario? _UsuarioEliminar = null;

    private void ConfirmarEliminacion(Usuario user)
    {
        _UsuarioEliminar = user;
        dialogo.Mensaje = $"¿Desea eliminar el usuario {user.Nombre} {user.Apellido}?";
        dialogo.Mostrar();
    }

    private void Eliminar()
    {
        if (_UsuarioEliminar != null)
        {
            CasoDeUsoUsuarioBaja.Ejecutar(_UsuarioEliminar);
            _lista = CasoDeUsoListarUsuarios.Ejecutar(); //se actualiza la lista de clientes
        }
    }
}

}