@page "/login"
@inject ServicioAutorizacion ServicioAutorizacion
@inject NavigationManager NavManager
@rendermode InteractiveServer

<h3>Iniciar Sesión</h3>
<div class="input">
    <input placeholder="Correo" id="mail" class="form-control" @bind="modelo.Mail" />
</div>

<div class="input">
    <input placeholder="Contraseña" id="pass" class="form-control" type="password" @bind="modelo.Pass" />
</div>

<button type="submit" class="" @onclick="IniciarSesion">Iniciar Sesión</button>

@if(error)
{
    <h2 class="error" >Alguno de los datos es incorrecto</h2>
}


@code {
    private Modelo modelo = new Modelo();
    bool error = false;
    private void IniciarSesion() 
    {
        if (ServicioAutorizacion.Login(modelo.Mail, modelo.Pass))
        {
            error = false;
            NavManager.NavigateTo(NavManager.Uri, true);
        } else
        {
            error = true;
        }
    }

    public class Modelo
    {
        public string Mail { get; set; } = "";
        public string Pass { get; set; } = "";
    }
}