@page "/Register/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoRegistrar CasoDeUsoRegistrar
@inject CasoDeUsoObtenerUsuario CasoDeUsoObtenerUsuario
@inject CasoDeUsoModificarUsuario CasoDeUsoModificarUsuario
@inject ServicioAutorizacion ServicioAutorizacion

<DialogoConfirmacion @ref="dialogo" Mensaje=@Error/>
@if (_esNuevoCliente)
{
    <h3>Registrarse</h3>
}
else
{
    <h3>Modificando al usuario "@nombreEstatico"</h3>
}

<input placeholder="Nombre" @bind="user.Nombre" class="form-control">
<input placeholder="Apellido" @bind="user.Apellido" class="form-control">
<input type="email" placeholder="Correo" @bind="user.Correo" class="form-control">
<input type="password" placeholder="Contraseña" @bind="user.Contrasenia" class="form-control">


<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    String nombreEstatico = "";
    Usuario user = new Usuario();
    String Error = "";
    void Aceptar()
    {
        if (_esNuevoCliente)
        {
            try
            {
                CasoDeUsoRegistrar.Ejecutar(user);
                Navegador.NavigateTo("/Login");
            }
            catch(Exception e)
            {
                Error = e.Message;
                errorValidacion();
            }
        }
        else
        {
            try
            {
                CasoDeUsoModificarUsuario.Ejecutar(user);
                if (ServicioAutorizacion.UsuarioActual != null && ServicioAutorizacion.UsuarioActual.Id != Id)
                {
                        Navegador.NavigateTo("/Usuarios");
                } else
                {
                    ServicioAutorizacion.Logout();
                    Navegador.NavigateTo("/Login", true);
                }
            }
            catch(Exception e)
            {
                Error = e.Message;
                errorValidacion();
            }            
            
        }
        
    }

    [Parameter] public int? Id { get; set; }
    bool _esNuevoCliente = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var user_hallado = CasoDeUsoObtenerUsuario.Ejecutar(Id.Value);
            if (user_hallado != null)
            {
                nombreEstatico = user_hallado.Nombre;
                user = user_hallado;
                user.Contrasenia = "";
                _esNuevoCliente = false;
            }
        }
    }

    DialogoConfirmacion dialogo = null!;
    private void errorValidacion()
    {
        dialogo.Mostrar(); 
    }
}
