@page "/Register/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoRegistrar CasoDeUsoRegistrar
@inject CasoDeUsoObtenerUsuario CasoDeUsoObtenerUsuario
@inject CasoDeUsoModificarUsuario CasoDeUsoModificarUsuario

@if (_esNuevoCliente)
{
    <h3>Registrarse</h3>
}
else
{
    <h3>Modificando al usuario "@nombreEstatico"</h3>
}

<input placeholder="Nombre" @bind="user.Nombre" class="form-control">
<input placeholder="Apellido" @bind="user.Apellido" class="form-control">
<input placeholder="Correo" @bind="user.Correo" class="form-control">
<input placeholder="Contrasenia" @bind="user.Contrasenia" class="form-control">


<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    String nombreEstatico = "";
    Usuario user = new Usuario();
    void Aceptar()
    {
        if (_esNuevoCliente)
        {
            CasoDeUsoRegistrar.Ejecutar(user);
        }
        else
        {
            CasoDeUsoModificarUsuario.Ejecutar(user);
        }
        Navegador.NavigateTo("Usuarios");
    }

    [Parameter] public int? Id { get; set; }
    bool _esNuevoCliente = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var user_hallado = CasoDeUsoObtenerUsuario.Ejecutar(Id.Value);
            if (user_hallado != null)
            {
                nombreEstatico = user_hallado.Nombre;
                user = user_hallado;
                user.Contrasenia = "";
                _esNuevoCliente = false;
            }
        }
    }
}
