@page "/Register/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoRegistrar CasoDeUsoRegistrar
@inject CasoDeUsoObtenerUsuario CasoDeUsoObtenerUsuario
@inject CasoDeUsoModificarUsuario CasoDeUsoModificarUsuario
@inject ServicioAutorizacion ServicioAutorizacion

<DialogoConfirmacion @ref="dialogo"/>
@if (_esNuevoCliente)
{
    <h3>Registrarse</h3>
}
else
{
    <h3>Modificando al usuario "@nombreEstatico"</h3>
}

<input placeholder="Nombre" @bind="user.Nombre" class="form-control">
<input placeholder="Apellido" @bind="user.Apellido" class="form-control">
<input placeholder="Correo" @bind="user.Correo" class="form-control">
<input placeholder="Contrasenia" @bind="user.Contrasenia" class="form-control">


<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    String nombreEstatico = "";
    Usuario user = new Usuario();
    void Aceptar()
    {
        if (_esNuevoCliente)
        {
            try
            {
                CasoDeUsoRegistrar.Ejecutar(user);
                Navegador.NavigateTo("/Login", forceLoad: true);
            }
            catch(Exception e)
            {
                errorValidacion(e.Message);
            }
        }
        else
        {
            try
            {
                CasoDeUsoModificarUsuario.Ejecutar(user);
                Navegador.NavigateTo("/Login", forceLoad: true);
                ServicioAutorizacion.Logout();
            }
            catch(Exception e)
            {
                errorValidacion(e.Message);
            }            
            
        }
        
    }

    [Parameter] public int? Id { get; set; }
    bool _esNuevoCliente = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var user_hallado = CasoDeUsoObtenerUsuario.Ejecutar(Id.Value);
            if (user_hallado != null)
            {
                nombreEstatico = user_hallado.Nombre;
                user = user_hallado;
                user.Contrasenia = "";
                _esNuevoCliente = false;
            }
        }
    }

    DialogoConfirmacion dialogo = null!;
    private void errorValidacion(string error)
    {
        dialogo.Mensaje = error;
        dialogo.Mostrar(); 
    }
}
